{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "plugins": [
    "react",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "singleQuote": true
      }
    ],
    "react/jsx-uses-vars": 2,
    "no-console": 1
  }
}
